@{
    ViewBag.Title = "Calendar";
}

<html>
    <head>
        <title>@ViewBag.Title</title>
        <link rel='stylesheet' href='~/Public/fullcalendar/fullcalendar.css' />
        <script src='~/Public/fullcalendar/lib/jquery.min.js'></script>
        <script src='~/Public/fullcalendar/lib/moment.min.js'></script>
        <script src='~/Public/fullcalendar/fullcalendar.js'></script>
        <script src='~/Scripts/bootstrap.js'></script>
        <script src='~/Scripts/bootbox.js'></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#calendar').fullCalendar({
                    editable: true,
                    events: '/Calendar/EventData/',
                    eventClick: function(calEvent, jsEvent, view) {
                        alert("you clicked on " + calEvent.title);
                    },
                    dayClick: function (date, jsEvent, view) {
                        bootbox.dialog({
                            title: "Would you like to add an Event?",
                            message: "Please select an option",
                            buttons: {
                                success: {
                                    label: "Add Event!",
                                    className: "add-event-button",
                                    callback: function () {
                                        window.location.href = "/Calendar/Event";
                                    }
                                },
                                danger: {
                                    label: "Cancel",
                                    className: "cancel-button",
                                    callback: function () {
                                    }
                                }
                            }
                        });
                    },
                    eventDrop: function (event, delta, revertFunc) {
                        $(function () {
                            var eventData = {
                                id: event.id,
                                startDate: event.start,
                                endDate: event.end,
                            };

                            $.ajax({
                                url: '/Calendar/Update',
                                data: JSON.stringify(eventData),
                                contentType: "application/json",
                                type: 'POST',
                                success: function() {
                                },
                                error: function(jqXHR, textStatus, errorThrown) {
                                }
                            });
                        });
                    }
                });
            });
        </script>
    </head>
    <body>
        <div id='calendar'></div>
    </body>
</html>