<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="~/Public/css/style.css" rel="stylesheet" />
        <link href="~/Public/css/signin.css" rel="stylesheet" />
        @RenderBody()
    </head>
    <body></body>
</html>
