@{
    ViewBag.Title = "Verse";
}
<style>
    table, th, td {
        padding: 10px
    }
</style>

<div>
    <h2>@ViewBag.Title</h2>
    <p>
        <table>
            <tr>
                <td>
                    @using (Html.BeginForm("Index", "Calendar", new { ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "form-horizontal", role = "create" })) {
                        <input type="submit" value="Calendar" class="btn btn-default" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Index", "Tasks", new { ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "form-horizontal", role = "create" })) {
                        <input type="submit" value="Tasks" class="btn btn-default" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Index", "Subjects", new { ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "form-horizontal", role = "create" })) {
                        <input type="submit" value="Subjects" class="btn btn-default" />
                    }
                </td>
            </tr>
        </table>
    </p>
</div>
